* {
    box-sizing: border-box;
}


html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #FFF;
}


/*
Foo - Test Module
*/
.foo {
    background: url('/static/images/cat.jpg');
    background-size: cover;
    position: absolute;
    display: table;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.foo-text {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    font-weight: 200;
    font-size: 19px;
    background: rgba(0,0,0,0.5);
}



/*
Bar - Test Module
!!Careful: Terrible CSS coming up used for testing.
*/
.bar li {
    font-size: 20px;
}

.bar li:nth-child(2n) {
    color: red;
}

.bar li li:nth-child(3n) {
    font-weight: bold;
}

.bar li li:nth-child(4n) {
    background: rgba(200,200,0, 0.4);
}

.bar li:nth-child(5n) {
    font-style: italic;
}

.bar li li:nth-child(6n) {
    margin: 20px;
}

.bar li li:nth-child(9n + 2) {
    background: red;
    color: blue;
}



@media (max-width: 500px) {
  .foo {
      border-color: red;
  }
}
